.dialogs {
    display:grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: gold;
}
.messages {
    padding: 10px;
}
.newMessage {
    grid-column: 2;
    width: 150px;
    margin-bottom: 20px;
}
 .btnNewMessage {
     grid-column: 2;
     width: 100px;
     cursor: pointer;
 }
